<div class="container">
  <div class="mb-4">
    <%= link_to "← 生徒グループ一覧に戻る", admin_account_groups_path, class: "text-decoration-none" %>
  </div>

  <div class="card">
    <div class="card-header">
      <h1 class="h2 mb-0">新規<%= AccountGroup.model_name.human %>作成</h1>
    </div>
    <div class="card-body">
      <%= render "form", account_group: @account_group %>
    </div>
  </div>
</div>